:root {
  --primeri-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}
body {
  background: #ffffff;
  font-family: Roboto;
  color: var(--title-text-color);
}
ul {
  list-style: none;
}
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
}
.logo-web {
  color: #2196f3;
}
.logo-studio {
  color: #030303;
}
.site-nav a {
  color: var(--title-text-color);
}
.site-nav a:hover,
.site-nav a:focus {
  color: #2196f3;
}
